<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <title>BioComp</title>
  </head>
  <body>
    {% block content %}{% endblock %}

    <footer class="container text-center small" style="margin-top: 15rem">
      <p>BioComp v26.1</p>
      <p>
        Gavin Wiggins &copy; 2021-2026 <br />
        Made with <a href="https://quart.palletsprojects.com">Quart</a> and <a href="https://htmx.org">htmx</a>.
      </p>
    </footer>
  </body>
</html>
