{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-expand border-bottom mb-5">
  <div class="container">
    <span class="navbar-brand">🌳 BioComp</span>
    <div class="navbar-nav me-auto" hx-boost="true">
      <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      <a class="nav-link active" href="{{ url_for('docs') }}">Docs</a>
    </div>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Documentation</h1>

      <p>
        BioComp is a web tool for estimating biomass composition using ultimate and chemical
        analysis data. Calculations are based on the biomass characterization method discussed in
        the Debiagi, Ranzi, et al. papers (see References section). Also, see the
        <a href="https://chemics.readthedocs.io/en/latest/api/biomass_composition.html">
          documentation
        </a>
        for the Chemics biocomp function for implementation details of the characterization
        procedure.
      </p>

      <p>
        The BioComp source code is available on
        <a href="https://github.com/wigging/biocomp">GitHub</a>. Submit a Pull Request if you would
        like to contribute to the project. Questions and other comments can be submitted on the
        GitHub <a href="https://github.com/wigging/biocomp/issues">Issues</a> page. You can also
        contact the developer of BioComp, Gavin Wiggins, via
        <a
          href="mailto:mailATgavinwDOTme"
          onclick="this.href = this.href.replace(/AT/, '&#64;').replace(/DOT/, '&#46;')">
          Email
        </a>
        or <a href="https://fosstodon.org/@wigging">Mastodon</a>.
      </p>

      <h2 class="mt-4">Quick start</h2>

      <p>
        Just click the Submit button to view results for the default input parameters. The results
        are displayed in a table that represents the biomass composition. A graph is also displayed
        that compares the biomass to the reference mixtures. Read the sections below to learn more.
      </p>

      <h2 class="mt-4">Parameters</h2>

      <p>
        There are several methods for providing input parameters to BioComp which are listed below.
        The first method requires the least number of inputs while the last method requires the most
        input. For best results, use method 3 to provide as many input parameters as possible.
      </p>

      <ol>
        <li>
          The easiest way to use BioComp is to just input the carbon (C) and hydrogen (H) mass
          fractions of the biomass feedstock. Make the water and ash inputs zero and leave the
          remaining inputs as their default values.
        </li>
        <li>
          Another method is to provide all the ultimate analysis parameters of the biomass feedstock
          including the water and ash content. This will provide the estimated biomass composition
          results for the wet and wet-ash bases. Leave the remaining input parameters as their
          default values.
        </li>
        <li>
          If chemical analysis data is available for the biomass feedstock, then input the values
          for cellulose, hemicellulose, and total lignin along with the ultimate analysis values.
          Select the optimize splitting parameters checkbox to use the chemical analysis values to
          improve the splitting parameters. This will ensure that the Y (daf) results align with the
          chemical analysis values of the biomass feedstock.
        </li>
      </ol>

      <p>
        The splitting parameters should generally remain at their default values. If the estimated
        biomass composition contains negative values, then adjust the splitting parameters until the
        biomass is within the reference region on the graph.
      </p>

      <h3>Ultimate analysis</h3>

      <p>
        The ultimate analysis parameters represent the utlimate analysis values of the biomass
        feedstock that will be characterized by BioComp. The values must be given as mass percent on
        a dry ash-free basis (C and H) or as received basis (H₂O and Ash). The carbon and hydrogen
        values are required. The water and ash values are used for converting the results to wet and
        wet-ash bases. If you are not interested in the results for the wet basis or wet-ash basis
        then just input zero for these values.
      </p>

      <ul>
        <li>Carbon - mass percent of carbon (C), dry ash-free basis</li>
        <li>Hydrogen - mass percent of hydrogen (H), dry ash-free basis</li>
        <li>H₂O - mass percent of water, as received basis</li>
        <li>Ash - mass percent of ash, as received basis</li>
      </ul>

      <h3>Chemical analysis</h3>

      <p>
        The chemical analysis parameters represent the chemical composition of the biomass feedstock
        as cellulose, hemicellulose, and total lignin. The values must be given as mass percent on a
        dry ash-free basis. The optimize checkbox must be selected to use the chemical analysis
        values for the characterization procedure; otherwise, the values are ignored.
      </p>

      <ul>
        <li>Cellulose - mass percent of cellulose (CELL), dry ash-free basis</li>
        <li>Hemicellulose - mass percent of hemicellulose (HEMI), dry ash-free basis</li>
        <li>Lignin - mass percent of total lignin, dry ash-free basis</li>
      </ul>

      <h3>Optimize splitting parameters</h3>

      <p>
        When the Optimize splitting parameters checkbox is enabled, the chemical analysis values are
        used for the biomass characterization. This will adjust the splitting parameters so the Y
        (daf) results match the given cellulose, hemicellulose, and total lignin values. If the
        checkbox is not selected, the chemical analysis values are ignored.
      </p>

      <h3>Splitting parameters</h3>

      <p>
        The splitting parameters define molar ratios of the chemical components used in the biomass
        characterization procedure. Use the default values unless the biomass marker in the graph is
        outside the reference mixture region.
      </p>

      <ul>
        <li>α - molar ratio of cellulose and hemicellulose</li>
        <li>β - molar ratio of lignin LIG-O and lignin LIG-C</li>
        <li>γ - molar ratio of lignin LIG-H and lignin LIG-C</li>
        <li>δ - molar ratio of lignins (LIG-H and LIG-C) and extractive TGL</li>
        <li>ε - molar ratio of lignins (LIG-O and LIG-C) and extractive TANN</li>
      </ul>

      <h2 class="mt-4">Results</h2>

      <p>
        Submit the parameters to view results in the biomass composition table and characterization
        graph. The table provides results as mole fractions (X) and mass fractions (Y) where daf is
        the dry ash-free basis, wet is the wet basis, and wetash is the wet-ash basis.
      </p>

      <h2 class="mt-4">References</h2>

      <p>The references for estimating biomass composition are given below.</p>

      <ol>
        <li class="mb-2">
          Paulo Debiagi, Chiara Pecchi, Giancarlo Gentile, Alessio Frassoldati, Alberto Cuoci,
          Tiziano Faravelli, and Eliseo Ranzi.
          <a href="https://doi.org/10.1021/acs.energyfuels.5b01753">
            Extractives Extend the Applicability of Multistep Kinetic Scheme of Biomass Pyrolysis.
          </a>
          Energy & Fuels, vol. 29, no. 10, pp. 6544-6555, 2015.
        </li>
        <li>
          Paulo Debiagi, Giancarlo Gentile, Alberto Cuoci, Alessio Frassoldati, Eliseo Ranzi,
          Tiziano Faravelli.
          <a href="https://doi.org/10.1016/j.jaap.2018.06.022">
            A predictive model of biochar formation and characterization.
          </a>
          Journal of Analytical and Applied Pyrolysis, vol. 134, pp. 326-335, 2018.
        </li>
      </ol>
    </div>
  </div>
</main>
{% endblock %}
