{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand border-bottom mb-5">
  <div class="container">
    <span class="navbar-brand">🌳 BioComp</span>
    <div class="navbar-nav me-auto">
      <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      <a class="nav-link active" href="{{ url_for('docs') }}">Docs</a>
    </div>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Documentation</h1>

      <p>
        BioComp is a web tool for estimating biomass composition using ultimate and chemical
        analysis data. Calculations are based on the biomass characterization method discussed in
        the Debiagi, Ranzi, et al. papers (see References section). Also, see the
        <a href="https://chemics.readthedocs.io/en/latest/api/biomass_composition.html">
          documentation
        </a>
        for the Chemics biocomp function for implementation details of the characterization
        procedure.
      </p>

      <p>
        The BioComp source code is available on
        <a href="https://github.com/wigging/biocomp">GitHub</a>. Submit a Pull Request if you would
        like to contribute to the project. Questions and other comments can be submitted on the
        GitHub <a href="https://github.com/wigging/biocomp/issues">Issues</a> page. You can also
        contact Gavin Wiggins via
        <a
          href="mailto:mailATgavinwDOTme"
          onclick="this.href = this.href.replace(/AT/, '&#64;').replace(/DOT/, '&#46;')">
          Email
        </a>
        or <a href="https://fosstodon.org/@wigging">Mastodon</a>.
      </p>

      <h2>Parameters</h2>

      <p>
        A description of the input parameters are given below. The ultimate and chemical analysis
        parameters refer to measured data for a particular biomass feedstock. The only required
        parameters for BioComp are carbon and hydrogen from ultimate analysis data. However, it is
        recommended to provide as much of the parameters as possible for best results.
      </p>

      <p>Ultimate analysis</p>

      <ul>
        <li>Carbon % - mass percent of carbon (C), dry ash-free basis</li>
        <li>Hydrogen % - mass percent of hydrogen (H), dry ash-free basis</li>
        <li>H₂O % - mass percent of water, as received basis</li>
        <li>Ash % - mass percent of ash, as received basis</li>
      </ul>

      <p>Chemical analysis</p>

      <ul>
        <li>Cellulose % - mass percent of cellulose (CELL), dry ash-free basis</li>
        <li>Hemicellulose % - mass percent of hemicellulose (HEMI), dry ash-free basis</li>
        <li>Lignin % - mass percent of total lignin, dry ash-free basis</li>
      </ul>

      <p>Splitting parameters</p>

      <ul>
        <li>α - molar ratio of cellulose and hemicellulose</li>
        <li>β - molar ratio of lignin LIG-O and lignin LIG-C</li>
        <li>γ - molar ratio of lignin LIG-H and lignin LIG-C</li>
        <li>δ - molar ratio of lignins (LIG-H and LIG-C) and extractive TGL</li>
        <li>ε - molar ratio of lignins (LIG-O and LIG-C) and extractive TANN</li>
      </ul>

      <p>Optimize</p>

      <ul>
        <li>
          If selected, optimized splitting parameters are determined using the given ultimate and
          chemical analysis values. The biomass composition is determined using the optimized
          splitting parameters.
        </li>
        <li>
          If not selected, the biomass composition is calculated using the given or default
          splitting parameter values.
        </li>
      </ul>

      <h2>Results</h2>

      <p>
        The results will appear after pressing the Enter (Return) key or clicking the Submit button.
      </p>

      <h2>References</h2>

      <p>The references for estimating biomass composition are given below.</p>

      <ol>
        <li class="mb-2">
          Paulo Debiagi, Chiara Pecchi, Giancarlo Gentile, Alessio Frassoldati, Alberto Cuoci,
          Tiziano Faravelli, and Eliseo Ranzi.
          <a href="https://doi.org/10.1021/acs.energyfuels.5b01753">
            Extractives Extend the Applicability of Multistep Kinetic Scheme of Biomass Pyrolysis.
          </a>
          Energy & Fuels, vol. 29, no. 10, pp. 6544-6555, 2015.
        </li>
        <li>
          Paulo Debiagi, Giancarlo Gentile, Alberto Cuoci, Alessio Frassoldati, Eliseo Ranzi,
          Tiziano Faravelli.
          <a href="https://doi.org/10.1016/j.jaap.2018.06.022">
            A predictive model of biochar formation and characterization.
          </a>
          Journal of Analytical and Applied Pyrolysis, vol. 134, pp. 326-335, 2018.
        </li>
      </ol>
    </div>
  </div>
</main>
{% endblock %}
