{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand border-bottom mb-5">
  <div class="container">
    <span class="navbar-brand">🌳 BioComp</span>
    <div class="navbar-nav me-auto">
      <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
      <a class="nav-link" href="{{ url_for('about') }}">About</a>
      <a class="nav-link" href="{{ url_for('usage') }}">Usage</a>
    </div>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-4 pe-md-5">
      <form hx-post="/params" hx-target="#results" hx-swap="outerHTML">
        <h3>Ultimate analysis</h3>
        <div class="row">
          <div class="col-md">
            <label class="form-label" for="carbonInput">Carbon, C [&percnt;] *</label>
            <input type="number" class="form-control mb-3" id="carbonInput" name="carbon" value="53">

            <label class="form-label" for="hydrogenInput">Hydrogen, H [&percnt;] *</label>
            <input type="number" class="form-control mb-3" id="hydrogenInput" name="hydrogen" value="6">
          </div>
          <div class="col-md">
            <label class="form-label" for="waterInput">Water, H<sub>2</sub>O [&percnt;]</label>
            <input type="number" class="form-control mb-3" id="waterInput" name="water" value="2">

            <label class="form-label" for="ashInput">Ash [&percnt;]</label>
            <input type="number" class="form-control mb-3" id="ashInput" name="ash" value="2">
          </div>
        </div>

        <h3 class="mt-4">Chemical analysis</h3>
        <div class="row">
          <div class="col-md">
            <label class="form-label" for="cellInput">Cellulose [&percnt;]</label>
            <input type="number" class="form-control mb-3" id="cellInput" name="cellulose" value="28.9">

            <label class="form-label" for="hemiInput">Hemicellulose [&percnt;]</label>
            <input type="number" class="form-control mb-3" id="hemiInput" name="hemicellulose" value="22">
          </div>
          <div class="col-md">
            <label class="form-label" for="ligninInput">Lignin [&percnt;]</label>
            <input type="number" class="form-control mb-3" id="ligninInput" name="lignin" value="36.5">
          </div>
        </div>

        <h3 class="mt-4">Splitting parameters</h3>
        <div class="row">
          <div class="col-md">
            <label class="form-label" for="alphaInput">Alpha, &#945; [-]</label>
            <input type="number" class="form-control mb-3" id="alphaInput" name="alpha" value="0.60">

            <label class="form-label" for="betaInput">Beta, &#946; [-]</label>
            <input type="number" class="form-control mb-3" id="betaInput" name="beta" value="0.80">

            <label class="form-label" for="gammaInput">Gamma, &#947; [-]</label>
            <input type="number" class="form-control mb-3" id="gammaInput" name="gamma" value="0.80">
          </div>
          <div class="col-md">
            <label class="form-label" for="deltaInput">Delta, &#948; [-]</label>
            <input type="number" class="form-control mb-3" id="deltaInput" name="delta" value="1.00">

            <label class="form-label" for="epsilonInput">Epsilon, &#949; [-]</label>
            <input type="number" class="form-control mb-3" id="epsilonInput" name="epsilon" value="1.00">
          </div>
        </div>

        <div class="form-check mb-4">
          <input type="checkbox" class="form-check-input" id="optInput" name="optimize">
          <label class="form-check-label" for="optInput">Optimize splitting parameters</label>
        </div>

        <button type="submit" class="btn btn-primary mb-5">Submit</button>
      </form>
    </div>
    <div class="col-md border-start ps-md-5">
      <h3>Biomass composition</h3>

      <div id="results">
        <p>Submit the input parameters and view results here.</p>

        <table class="table">
          <thead>
            <tr>
              <th>Biomass</th>
              <th>X (daf)</th>
              <th>X (wet)</th>
              <th>Y (daf)</th>
              <th>Y (wet)</th>
              <th>Y (wetash)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CELL</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>HEMI</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>LIG-C</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>LIG-H</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>LIG-O</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>TANN</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <td>TGL</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
          </tbody>
        </table>

        <div id="graph" style="max-width:600px;" hx-preserve></div>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='graph.js') }}"></script>
{% endblock %}
