name: Check and Test Python Code

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync

      - name: Check code formatting
        run: uv run ruff format --check .

      - name: Check code style
        run: uv run ruff check .

      - name: Run tests
        run: uv run pytest
